body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    color: black; 
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 3px black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    color:black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

#button {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
#div2 {
    height: 200px;
    background-color: moccasin;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

#div2 h2 {
flex: 1; 
align-self: flex-start;
margin: 0;
}

#div2 p, #div2 img {
flex: 1;
margin: 5px;
}

#div2 img {
margin-right: 0px; 
}

#div2 div {
flex: 1; 
margin: 5px 0; 
}
#div3 {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: baseline;
}

#div3 img {
    display: block;
    margin: 0 auto;
}
.next-events{
    width: 900px;
    height: 200px;
    border-radius: 20px;
    background-color: goldenrod;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#test{
   display: grid;
   place-items: center;
    border: 2px black solid;
    margin-left: 600px;
    border-radius: 5px;
    background-color: cadetblue;
    width: 200px;
    padding: 10px;
}
.login{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
}