body {
	font-family: 'Roboto', sans-serif;
}

#small-title {
	margin: 164px 0 32px 15.8%;
	display: flex;
	align-items: center;
	gap: 24px;
	font-size: 16px;
	letter-spacing: 2px;
}

#small-line {
	margin: 0;
	width: 72px;
	height: 2px;
	border: none;
	background: #1d2130;
}

#pseudo-title {
	width: 800px;
	margin: 0 0 32px calc(86px + 15.8%);
	color: #1d2130;
	font-size: 56px;
	font-weight: 700;
	line-height: 120%;
}

.paragraphs {
	margin: 0 calc(86px + 15.8%) 32px calc(86px + 15.8%);
}

.normal {
	color: #525560;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	text-align: justify;
}

#imageDiv {
	margin: 0 calc(86px + 15.8%) 48px calc(86px + 15.8%);
	border-radius: 20px;
	height: 300px;
	background-image: url('../images/projects/project_read_more.svg');
}

#text {
	margin: -16px calc(86px + 15.8%) 32px calc(86px + 15.8%);
}

#list {
	margin: -16px calc(86px + 15.8%) 32px calc(86px + 15.8%);
	color: #1d2130;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
}

#main-div {
	height: 400px;
	margin-top: 64px;
	padding: 96px 15.8%;
	background: #fcedc6;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 64px;
	row-gap: 48px;
}

#main-div > p {
	color: #525560;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
	line-height: 120%;
}

.feature {
	display: flex;
	gap: 20px;
}

.feature img {
	width: 28px;
	height: 28px;
	object-fit: cover;
	align-self: flex-start;
}

.feature-info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.feature-title {
	color: #1d2130;
	font-size: 24px;
	font-weight: 700;
}

.feature-description {
	color: #1d2130;
	font-size: 14px;
	font-weight: 400;
	line-height: 160%;
}

#projects-section {
	margin: 92px 7% 40px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 2px;
}

#projects {
	margin: 60px 7% 80px;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
	row-gap: 96px;
}

.individual-project {
	width: 100%;
	height: 100%;
	min-height: 421px;
	padding: 80px 48px 48px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

#project-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/global/children.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#project-1:hover {
	transform: scale(1.05);
}

#project-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/what-we-do/Excursions.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#project-2:hover {
	transform: scale(1.05);
}

#project-3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/what-we-do/Awareness.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#project-3:hover {
	transform: scale(1.05);
}

.project-title {
	height: fit-content;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 150%;
}

.project-description {
	margin-top: 16px;
	margin-bottom: 64px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
}

.btn {
	width: 146px;
}

.individual-project button {
	width: 46%;
	min-width: 146px;
	margin-top: auto;
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	background: #fff;
	backdrop-filter: blur(40px);
	color: #1d2130;
	text-align: right;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
}

#contribute {
	grid-area: 2 / 1 / 3 / 4;
	width: 100%;
	height: 384px;
	flex-shrink: 0;
	border-radius: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/global/children.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#contribute-text {
	width: 68%;
	height: 116px;
	color: #fff;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 120%;
}

#join-us {
	margin-top: 32px;
	display: flex;
	gap: 32px;
}

.join-volunteer {
	display: inline-flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #f2c94c;
	backdrop-filter: blur(40px);
	border: none;
	color: #000;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

#donate-nav {
	display: inline-flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #fff;
	backdrop-filter: blur(40px);
	text-decoration: none;
	color: #1d2130;
	text-decoration: none;
	text-align: right;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 40%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    padding: 3% 4%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-canvas {
    align-self: flex-start;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-text);
}

.modal-header>h2 {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
    color: var(--primary-text);
    width: 80%;
}

.modal-content > p {
	font-size: 1em;
	line-height: 1.6;
	color: #525560;
	margin-bottom: 40px;
}

.form-table {
	width: 100%;
	margin-bottom: 40px;
}

.first-row {
	display: flex;
	justify-content: center;
	gap: 5%;
}

.first-row > td {
	flex: 1;
}

.modal-content label {
	color: var(--primary-text);
	font-weight: 700;
	line-height: 1.6;
	opacity: 0.6;
}

.modal-content input:not([type='submit']) {
	height: 30px;
	width: 100%;
	font-size: 1em;
	outline: none;
	border: none;
	border-bottom: 1px solid #00000033;
	margin-bottom: 30px;
	transition: border-bottom 0.5s;
}

.modal-content input:focus {
	border-bottom-color: #000;
}

.modal-content textarea {
	width: 100%;
	height: 100px;
	font-size: 1em;
	line-height: 1.6;
	color: var(--primary-text);
	font-family: Roboto;
	resize: none;
	outline: none;
	border: 1px solid #00000033;
	margin-top: 10px;
	padding: 10px;
	transition: border 0.5s;
}

.modal-content textarea:focus {
	border-color: #000;
}

.modal-content input[type='submit'] {
	width: 100%;
	height: 50px;
	font-size: 1em;
	line-height: 1.6;
	border: none;
	color: var(--primary-text);
	font-weight: 700;
	background-color: var(--yellow);
	border-radius: 4px;
	cursor: pointer;
}
@media (max-width: 1400px) {
    .modal-header>h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

	.modal-content > p {
		font-size: 0.9em;
	}

	.modal-content {
		height: 95%;
		width: 50%;
	}
}

@media (max-height: 800px) {
	.modal-content {
		overflow-y: scroll;
	}
}
