
#footer-title {
	width: max-content;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	line-height: 44px;
}

#footer-table {
	margin-left: 7.9%;
	display: flex;
	gap: 88px;
}

.footer-column {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 24px;
}

.footer-column h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
}

.footer-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-list .footer-elements{
	margin-bottom: 24px;
	width: max-content;
}

.footer-links {
	color: #fff;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	text-decoration: none;
	opacity: 0.78;
	cursor: pointer;
}

.footer-links:hover {
	opacity: 1;
}

#footer-subscribe {
	margin-left: 11%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

#subscribe-input-container {
	width: 100%;
	display: flex;
	justify-self: end;
}

#subscribe-input {
	width: 75%;
	height: 64px;
	padding-left: 24px;
	display: flex;
	align-items: center;
	border-radius: 4px 0px 0px 4px;
	border: 1px solid rgba(235, 240, 249, 0.3);
	border-right: none;
	outline: none;
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

#subscribe-input:focus {
	border: 1px solid #fff;
	border-right: none;
}

#subscribe-input::placeholder {
	color: rgba(235, 240, 249, 0.30);
}

#subscribe-button {
	width: 25%;
	height: 64px;
	padding: 0;
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 4px;
	background: #fff;
	backdrop-filter: blur(40px);
	color: #1d2130;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
