<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="resources/css/global.css"
		/>
		<link
			rel="stylesheet"
			href="components/footer.css"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>

		<style>
			#footer-container {
				width: 100%;
				height: 402px;
				padding: 96px 7%;
				background: #000;
				display: flex;
			}
		</style>
	</head>
	<body>
		<footer id="footer-container">
			<h1 id="footer-title">Tiny Stars Foundation</h1>
			<div id="footer-table">
				<div class="footer-column">
					<h4>Pages</h4>
					<ul class="footer-list">
						<li class="footer-elements">
							<a
								class="footer-links"
								href="about-us.html"
								>About us</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="about-us.html#team"
								>Team</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="what-we-do.html"
								>What we do</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="contact-us.html"
								>Contact</a
							>
						</li>
					</ul>
				</div>
				<div class="footer-column">
					<h4>More</h4>
					<ol class="footer-list">
						<li class="footer-elements"><a class="footer-links" href="project-read-more.html">Projects</a></li>
						<li class="footer-elements"><a class="footer-links" href="events.html">Events</a></li>
						<li class="footer-elements"><a class="footer-links" href="donate.html">Donate</a></li>
						<li class="footer-elements"><a class="footer-links" href="blog.html">Blog</a></li>
					</ol>
				</div>
				<div class="footer-column">
					<h4>Connect</h4>
					<ul class="footer-list">
						<li class="footer-elements">
							<a
								class="footer-links"
								href="https://www.facebook.com"
								target="_blank"
								>Facebook</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="https://www.instagram.com"
								target="_blank"
								>Instagram</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="https://www.x.com"
								target="_blank"
								>X</a
							>
						</li>
						<li class="footer-elements">
							<a
								class="footer-links"
								href="https://www.linkedin.com"
								target="_blank"
								>LinkedIn</a
							>
						</li>
					</ul>
				</div>
			</div>

			<div id="footer-subscribe">
				<p
					id="subscribe-text"
					style="color: #fff; font-size: 40px; font-weight: 700; line-height: 140%"
				>
					Subscribe to get latest updates
				</p>
				<div id="subscribe-input-container">
					<input
						type="text"
						placeholder="Your email"
						id="subscribe-input"
					/>
					<button id="subscribe-button">Subscribe</button>
				</div>
			</div>
		</footer>
	</body>
</html>
