*, *::before, *::after {
  box-sizing: border-box;
}

#nav-container {
  margin: 0;
  padding: 18px 7%;
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.40);
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

#tittle {
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}

.nav-pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px ;
  width: fit-content;
  padding: 16px 20px;
  font-size: 16px;
  font-style: 500;
  width: fit-content;
  color: #525560;
}

.nav-anchor {
  text-decoration: none;
  color: #525560;
}

#donate {
  padding: 8px 12px;
  border-radius: 4px;
  background: #1D2130;
  font-size: 16px;
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

