<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Navbar</title>
		<link
			rel="stylesheet"
			href="resources\css\global.css"
		/>
		<link
			rel="stylesheet"
			href="components\navbar.css"
		/>
	</head>
	<body>
		<div id="nav-container">
			<h1 id="tittle">Tiny Stars Foundation</h1>
			<div class="nav-pages-container">
				<a
					href="./index.html"
					id="home"
					class="nav-anchor"
					>Home</a
				>
				<a
					href="./about-us.html"
					id="aboutUs"
					class="nav-anchor"
					>About Us</a
				>
				<a
					href="./what-we-do.html"
					id="whatWeDo"
					class="nav-anchor"
					>What we do</a
				>
				<a
					href="./media.html"
					id="media"
					class="nav-anchor"
					>Media</a
				>
				<a
					href="./contact-us.html"
					id="contactUs"
					class="nav-anchor"
					>Contact Us</a
				>
			</div>
			<a
				href="./donate.html"
				id="donate"
				class="nav-anchor"
				>Donate</a
			>
		</div>
	</body>
</html>
